@use '_globals';

html {
    font-size: initial;
}

body {
    color: white;
    background-color: globals.$off-black;
    font-family: 'strawfordregular', 'Inter', sans-serif;
    margin: 0;  //needed so navbar reaches all the way left/top
    text-align: center;
    line-height: 1.618;
}

img {
    user-select: none;  // disable image highlighting
}

a {
    color: #ffffff;
    text-decoration: none;
}

/* highlight color */
::selection{
    background-color: #ffffff62;
}

//every separate section is a panel
.panel {
    height: 100vh; 
    display: flex;
    justify-content: center;
    align-items: center;   
}