@use '_globals';

.contact-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin: 20px;
}

.links-list {
    list-style-type: none;
    padding-left: 0;        // remove default list padding
    user-select: none;

    li {
        display: inline-block;
        // position: relative;
        margin: 11px;
        transition: transform 0.4s ease;
    }

    li:hover, li:focus, li:active {
        transform: scale(1.12);
    }
}

.email-link {

    // email logo
    img {
        height: 20px;
        margin-bottom: 3.2px;
    }
}

.linkedin-link {

    // linkedin logo
    img {
        height: 25px;
    }
}

.github-link {

    // github logo
    img {
        height: 28px;
    }
}

.youtube-link {
    
    // youtube logo
    img {
        height: 35px;
        margin-bottom: -4.8px;
    }
}

.footer-text {
    font-family: 'strawfordmedium';
    font-size: 13px;
    user-select: none;
}
