$vs-red: #B35B65;
$dark-teal: #1f4f57;
$dark-blue: #33395b;
$dark-lavender: #545c8a;
$darkest-red: #5e3b1c;
$off-black: #1e1f26;

@font-face {
    font-family: 'strawfordblack';
    src: url('../fonts/strawford-black-webfont.eot');
    src: url('../fonts/strawford-black-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/strawford-black-webfont.woff2') format('woff2'),
         url('../fonts/strawford-black-webfont.woff') format('woff'),
         url('../fonts/strawford-black-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'strawfordbold';
    src: url('../fonts/strawford-bold-webfont.eot');
    src: url('../fonts/strawford-bold-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/strawford-bold-webfont.woff2') format('woff2'),
         url('../fonts/strawford-bold-webfont.woff') format('woff'),
         url('../fonts/strawford-bold-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'strawfordmedium';
    src: url('../fonts/strawford-medium-webfont.eot');
    src: url('../fonts/strawford-medium-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/strawford-medium-webfont.woff2') format('woff2'),
         url('../fonts/strawford-medium-webfont.woff') format('woff'),
         url('../fonts/strawford-medium-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'strawfordregular';
    src: url('../fonts/strawford-regular-webfont.eot');
    src: url('../fonts/strawford-regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/strawford-regular-webfont.woff2') format('woff2'),
         url('../fonts/strawford-regular-webfont.woff') format('woff'),
         url('../fonts/strawford-regular-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'strawfordthin';
    src: url('../fonts/strawford-thin-webfont.eot');
    src: url('../fonts/strawford-thin-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/strawford-thin-webfont.woff2') format('woff2'),
         url('../fonts/strawford-thin-webfont.woff') format('woff'),
         url('../fonts/strawford-thin-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'strawfordlight';
    src: url('../fonts/strawford-light-webfont.eot');
    src: url('../fonts/strawford-light-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/strawford-light-webfont.woff2') format('woff2'),
         url('../fonts/strawford-light-webfont.woff') format('woff'),
         url('../fonts/strawford-light-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'strawfordextralight';
    src: url('../fonts/strawford-extralight-webfont.eot');
    src: url('../fonts/strawford-extralight-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/strawford-extralight-webfont.woff2') format('woff2'),
         url('../fonts/strawford-extralight-webfont.woff') format('woff'),
         url('../fonts/strawford-extralight-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'NotoSans';
    src: url('../fonts/NotoSansTC-Regular.woff2');
    src: url('../fonts/NotoSansTC-Regular.otf');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'NotoSansBlack';
    src: url('../fonts/NotoSansTC-Black.woff2');
    src: url('../fonts/NotoSansTC-Black.otf');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'NotoSansBold';
    src: url('../fonts/NotoSansTC-Bold.woff2');
    src: url('../fonts/NotoSansTC-Bold.otf');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'NotoSansMedium';
    src: url('../fonts/NotoSansTC-Medium.woff2');
    src: url('../fonts/NotoSansTC-Medium.otf');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'NotoSansLight';
    src: url('../fonts/NotoSansTC-Light.woff2');
    src: url('../fonts/NotoSansTC-Light.otf');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'NotoSansThin';
    src: url('../fonts/NotoSansTC-Thin.woff2');
    src: url('../fonts/NotoSansTC-Thin.otf');
    font-weight: normal;
    font-style: normal;
}

