@use '_globals';

#intro {
    justify-content: center;
    align-items: center;
}

// wrapper inside intro panel
.intro-wrapper {
    display: flex; 
    align-items: center;
    justify-content: center;
    flex-direction: column;
    // width: 900px;

    @media screen and (max-width: globals.$mobile-width) {
        // width: 400px;
        margin-top: -130px; //shift up a little on mobile, it feels like flex-centered on page is too far down
    }
}

// 'this site is under renovation' text
#renovating {
    font-size: 32px;
    
    @media screen and (max-width: globals.$mobile-width) {
        font-size: 25px;
        margin-right: 0px;
    }
}

#smiley {
    // font-family: 'strawfordbold', 'NotoSans', sans-serif;
    display: inline-block;
    padding-left: 10px;
    // move a little bit down 
    position: relative; 
    top: 5px;
}

.construction-gif {
    display: block;
    height: 250px;
    width: 250px;
    padding: 0;
    margin: 20px;
    // border: solid white 1px;
    // border-radius: 50%;

    @media screen and (max-width: globals.$mobile-width) {
        height: 200px;
        width: 200px;
    }
}
