.title-container {
    display: flex;
    justify-content: center;
    margin-top: 35px;
    margin-bottom: 30px;
    font-size: 30px;
}

.image-container {
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;

    img {
        animation: rotation 20s infinite linear; 
        height: 300px;
        @media screen and (max-width: 1500px){
            // height: 100px;
        }
        @media screen and (max-width: 480px){
               // height: 50px;
        }
        pointer-events: none ;
        user-select: none;
    }
}
   
// Rotation animation for the pic
@keyframes rotation {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}
