.title-container {
    display: flex;
    justify-content: center;
    margin-top: 35px;
    margin-bottom: 30px;
    
    h1 {
        text-align: center;
        width: 600px;
        font-size: 40px;
        @media screen and (max-width: 480px){   //phones
            font-size: 30px;
            width: 300px;
        }
    }
}

.image-container {
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;

    img {
        animation: rotation 20s infinite linear; 
        height: 300px;
        pointer-events: none ;
        user-select: none;
    }
}
   
// Rotation animation for the pic
@keyframes rotation {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}
