.list-title-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 35px;
    font-family: 'strawfordbold';
    
    h1 {
        font-size: 60px;
    }
}

// smiley face 
.smiley {
    margin: 20px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bolder;
    font-size: 35px;
}

.list-container {
    display: flex;
    font-family: 'strawfordmedium';
    font-size: 24px;
    justify-content: center;
    align-items: center;
    align-content: center;

    ul {
        list-style-type: none;
        
        //spacing in between list elements
        li:not(:last-child) {
            margin-bottom: 13px;
        }

        //disable highlighting of the heading icons on the right 
        li:first-of-type {
            user-select: none;
        }
    }
}

//targets space in between first and second heading icon
.heading-icon:first-of-type {
    margin-right: 9px;
    margin-left: -1px;
}

//targets space after second heading icon (i'm lazy)
.heading-icon:last-of-type {
    margin-right: 25px;
}

//targets space in between first and second checkbox
.checkbox:first-of-type {
    margin-right: 13px;
}

//targets space after second checkbox (i'm lazy)
.checkbox:last-of-type {
    margin-right: 25px;
}

.heading-icon, .checkbox {
    user-select: none; //sass does polyfill yay
}