$vs-red: #B35B65;
$off-black: #1e1f26;
$pale-teal: #517b78;
$brighter-teal: #69bfb9;
$light-grey: #bdbdbd;
$laptop-15: 1440px;
$laptop-13: 1280px;
$tablet-width: 768px;
$mobile-width: 480px;

html {
    // scroll-behavior: smooth; // not supported in Safari, IE
    font-size: initial;
}

/* highlight color */
::selection{
    background-color: #ffffff62;
}
::-moz-selection {
    background: #ffffff62; /* Gecko Browsers */
}

body {
    color: white;
    background-color: black;
    font-family: 'strawfordregular', 'NotoSans', sans-serif;
    transition: background-color 1.4s ease;
    margin: 0;  //needed so navbar reaches all the way left/top
    text-align: center;
    line-height: 1.618;
}

//panel headings
h2 {
    font-size: 60px;
    font-family: 'strawfordbold';
}

img {
    user-select: none;  // disable image highlighting, sass adds webkit, moz, ms vendor prefixes
}

a {
    color: #ffffff;
    text-decoration: none;
}

nav {
    position: fixed;
    z-index: 100;   // displays on top of everything
    width: 100%;
    height: fit-content;
    display: flex;
    justify-content: flex-end;  // ul to the right
    padding: 0;
    margin: 0;
    background-color: transparent;
    transition: transform 300ms;
    font-family: 'strawfordmedium';

    &.hide {
        transform: translateY(-100%);
    }

    @media screen and (max-width: $mobile-width) {
        display: none;
    }
}

// navigation bar ul
.navbar {
    list-style-type: none;
    width: fit-content;
    border: 2.4px solid white;
    border-radius: 32px;
    padding: 5px 5px;
    margin: 10px;
    // backdrop-filter: blur(40px);    // not supported Firefox and IE, implement fallback?
    background-color: #ffffff;   // Firefox fallback, make .hash-link black too

    // items in navbar
    li {
        display: inline-block;
        margin: 0 6px; // shortcut with 2 values = top/bottom left/right
        padding: 0;
    }
}

// links/text in navbar items
.hash-link {
    font-size: 14px;
    color: $pale-teal;
    // transition: 1s ease;    // if changing text color for opaque navbar
}

//every separate section is a panel
.panel {
    min-height: 100vh; //min height in case content is higher than window height 
    display: flex;
    justify-content: center;
    align-items: center;
}

.id-heading {
    background-color: $pale-teal;
}

// wrapper inside intro panel
.intro-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 900px;

    @media screen and (max-width: $mobile-width) {
        width: 200px;
        flex-direction: column;
        align-content: center;
        justify-content: center;
    }
}

// intro text
header {
    width: 640px;
    margin-right: 10%;
    line-height: 1.1;

    @media screen and (max-width: $mobile-width) {
        width: 100px;
        font-size: 10px;
        text-align: left;
    }

    //Liam Chen
    span {
        font-family: 'strawfordbold';
        font-size: 100px;

        @media screen and (max-width: $mobile-width) {
            font-size: 80px;
        }        
    }

    //quote
    p {
        margin-top: 15px;
        font-size: 12px;

        @media screen and (max-width: $mobile-width) {
            font-size: 10px;
            // display: none;
        }
    }
}

// profile picture
.profile-pic {
    display: block;
    height: 300px;
    width: 300px;
    padding: 0;
    margin: 0;
    border: solid white 3px;
    border-radius: 50%;

    @media screen and (max-width: $mobile-width) {
        height: 200px;
        width: 200px;
    }
}

/* colors */
.id-about {
    background-color: $off-black;
}

#about {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    h2 {
        margin-bottom: 70px;
    }
}

// about me wrapper inside panel
.about-text-wrapper {
    width: 1152px;
    display: flex;
    justify-content: center;
    align-items: center;
}

// about me text
.about-text {
    display: block;
    width: 370px;
    height: fit-content;
    margin-right: 90px;
    text-align: justify;
    font-size: 16px;
    font-family: 'strawfordregular';
}

//divider line before the about-text
.about-text::before {
    content: "";
    display: block;
    background-color: $brighter-teal;
    width: 22%;
    height: 6px;
    border-radius: 13px;
    margin-bottom: 20px;
}

.cubing-pic {
    height: 280px;
    border-radius: 33px;
    border: 2px solid white;
}

.id-skills {
    background-color: $off-black;
}

.skills-wrapper {
    display: flex;
}

.skills-intro-wrapper {
    display: flex;
    flex-direction: column;
    margin-right: 40px;

    //skills heading
    h2 {
        margin-top: 0px;
        margin-bottom: 0px;
        text-align: left;
    }    
}

.skills-intro {
    font-size: 16px;
    // line-height: 11%;
    text-align: left;
    width: 230px;
}

.skills-intro::before {
    content: "";
    display: block;
    background-color: $brighter-teal;
    width: 50%;
    height: 5px;
    border-radius: 13px;
    margin: 15px 0px;
}

.skills-list {
    font-family: 'strawfordmedium';
    color: $brighter-teal;
    font-size: 19px;
    list-style-type: none;
    text-align: left;
    margin-right: 40px;
    width: fit-content;
}

// individual skill badges
.badge {
    border-radius: 2.5rem;
    border-width: 0.25rem;
    border-style: solid;
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
    width: fit-content;
    margin-bottom: 0.5rem;  // line spacing between items

    // logo inside the badge
    img {
        display: inline;
        vertical-align: middle;
    }

    // name next to the logo
    span {
        font-size: 1.2rem;
        margin-right: 1.1rem;
        line-height: 3.5rem;
        vertical-align: middle;
    }
}

#experience {
    flex-direction: column;
}

.id-experience {
    background-color: $off-black;
}

.slide2{
    background-color: white;
}

.experience-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    // width: 90%;
}

.experience-top-bar {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 800px;
}

.pdf-button{
    font-family: 'strawfordbold';
    font-size: 23px;
    padding: 7px 27px;
    border-radius: 3rem;
    background-color: $pale-teal;
    transition: transform 0.5s ease;
}

.pdf-button:hover, .pdf-button:focus {
    transform: scale(1.05);
}

.experience-list-wrapper {
    display: flex;
    flex-direction: row;
    // align-items: center;
}

.experience-label-list {
    list-style: none;
    text-align: left;
    padding-left: 0px;
}

.experience-label {
    font-family: 'strawfordmedium';
    font-size: 18px;
    margin-bottom: 20px;
    transition: transform 0.4s ease;
}

//animation for color fade transition between experience-labels
@keyframes fadeColor {
    from {color: white;}
    to {color: $brighter-teal;}
}

.experience-label:hover, .experience-label:focus {
    transform: scale(1.05);
    cursor: pointer;
}

.experience-divider {
    width: 5px;
    height: 250px;
    background-color: white;
    border-radius: 13px;
    margin: 0px 50px;
}

.experience-item {
    text-align: left;
    display: none;
    animation: fadeDiv 700ms ease-in-out both;
    transform: none;
    margin-top: 0px;
    padding-top: 0px;

    //title of position
    h4 {
        font-family: 'strawfordmedium';
        font-size: 27px;
        color: $brighter-teal;
        margin: 0px;
    }
    
    //date of position
    p {
        font-family: 'strawfordlight';
        font-size: 15px;
        margin: 0px;
    }

    //list of details about position 
    ul {
        list-style: disc;
        list-style-position: outside;
        padding-left: 20px;
        padding-top: 10px;
        width: 500px;
        height: 180px;
    }
    
    //custom color bullet points
    li {
        color: $brighter-teal;
    }
    
    //the text (without the bullet points)
    span {
        display: block;
        color: white;
        font-size: 17px;
        padding-left: 10px; //distance from bullet points
    }

    //for the link to the Contact section under the Currently Seeking position
    a {
        color: $brighter-teal;
    }
}

//animation for fade transition between experience-items
@keyframes fadeDiv {
    from {opacity: 0;}
    to {opacity: 1;}
}

//all experience-labels are white, except for the first one
#it-desk-label {
    color: $brighter-teal;
}

//all experience-items are display:none, except for the first one
#it-desk {
    display: block;
}

.id-projects {
    background-color: $off-black;
}

#projects {
    flex-direction: column;
}

.project-list-container {
    width: 90%;
    display: flex;
    justify-content: center;
}

.project-list {
    list-style: none;
    padding: 0px;
    margin: none;
}

.project-panel {
    display: inline-flex;
    flex-direction: column;
    align-content: center;
    align-items: flex-start;
    padding-left: 22px;
    border-top: 3px solid white;
    border-left: 3px solid white;
    border-top-left-radius: 38px;
    margin: 10px;
    margin-bottom: 20px;
    height: 273px;
    width: 245px;
    transition: transform 0.5s ease, color 0.5s;
    color: white;
}

.project-panel:hover, .project-panel:focus {
    transform: scale(1.04);
    color: $brighter-teal;
}

.project-title {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    // justify-items: flex-start;

    // project image 
    img {
        width: 24px;
        margin-right: 16px;
    }

    // project title text
    p {
        font-family: 'strawfordmedium';
        font-size: 18.5px;
        text-overflow: wrap;
        width: fit-content;
        height: fit-content;
    }
}

.project-text {
    font-family: 'strawfordlight';
    font-size: 15px;
    height: fit-content;
    width: 90%;
    text-align: left;
}

.project-bottom {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-self: center;
    margin-top: auto;
    width: 100%;

    // github link image
    img {
        width: 20px;
        height: 20px;
        margin-right: 16px;
        margin-bottom: -4px;
    }

    // project tech stack text 
    p {
        color: $light-grey;
        font-size: 13px;
        flex-basis: 100%;   //grow to fill the project-bottom container so that the github link will be in the bottom right
        text-align: left;
    }

}

// .carousel-wrapper {
//     display: flex;
//     height: fit-content;
//     width: 90%;
//     margin: 0;
//     padding: 0;
//     align-items: center;
//     justify-content: center;
// }

// .carousel {
//     border-radius: 1.9rem;  // border-radius must be same as slides for the visual effect
//     border: none;
//     padding: 0;
//     margin: 0;
//     list-style: none;
//     height: 100%; // full height of the carousel wrapper
//     width: 86rem;   // width of 2 slides + borders + margins
//     z-index: 10;    // solution to no border-radius when scrolling in Safari, create new stacking context
//     overflow-y: hidden; // no vertical scrolling
//     overflow-x: auto;   // horizontal scrolling
//     white-space: nowrap;
//     scrollbar-width: none; // hide scrollbar - Firefox 
//     -ms-overflow-style: none;  // hide scrollbar - IE 10+
// }

// // hide carousel scrollbar - Webkit browsers
// .carousel::-webkit-scrollbar {
//     display: none;
// }

// .slide {
//     display: inline-flex;
//     justify-content: center;
//     background-color: $off-black;
//     border-radius: 1.9rem;
//     height: 35rem;
//     width: 35rem;
//     color: white;
//     margin: 0 4rem;
//     padding: 0;
    
//     // demo purposes
//     img {
//         display: block;
//         height: 40%;
//         width: 90%;
//         margin: 1rem;
//         border: 2px solid white;
//         border-radius: 1rem;
//     }
// }

// .carousel-button {
//     cursor: pointer;
//     background-color: $off-black;
//     border: none;
//     border-radius: 50%;
//     height: 3rem;
//     width: 3rem;
//     margin: 1rem;
//     padding: 0;
//     transition: 0.5s ease;
//     z-index: 10;
    
//     //arrow icons
//     img {
//         display: block;
//         margin: auto;
//     }
// }

// .carousel-button:hover {
//     transform: scale(1.2);
// }

// .card {
//     background-color: white;
//     border-radius: 1.25rem;
//     height: 30rem;
//     width: 20rem;
//     transition: transform 0.5s ease;
    
//     p {
//         color: $vs-red;
//     }
// }

// .card:hover, 
// .card:focus, 
// .card:active{
//     transform: scale(1.05);
// }

.id-contact {
    background-color: $pale-teal;
}

.contact-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;

    h2 {
        margin: 20px;
    }
}

.get-in-touch {
    font-size: 16px;
    margin-bottom: 20px;
}

.links-list {
    list-style-type: none;
    padding-left: 0;
    user-select: none;

    li {
        display: inline-block;
        // position: relative;
        margin: 13px;
        transition: transform 0.4s ease;
    }

    li:hover, li:focus, li:active {
        transform: scale(1.12);
    }
}

.email-link {

    // email logo
    img {
        height: 40px;
        margin-bottom: 3.2px;
    }
}

.youtube-link {
    
    // youtube logo
    img {
        height: 56px;
        margin-bottom: -4.8px;
    }
}

.footer-text {
    font-family: 'strawfordmedium';
    font-size: 13px;
    user-select: none;
}
