@font-face {
  font-family: "strawfordblack";
  src: url("../fonts/strawford-black-webfont.eot");
  src: url("../fonts/strawford-black-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/strawford-black-webfont.woff2") format("woff2"), url("../fonts/strawford-black-webfont.woff") format("woff"), url("../fonts/strawford-black-webfont.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "strawfordbold";
  src: url("../fonts/strawford-bold-webfont.eot");
  src: url("../fonts/strawford-bold-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/strawford-bold-webfont.woff2") format("woff2"), url("../fonts/strawford-bold-webfont.woff") format("woff"), url("../fonts/strawford-bold-webfont.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "strawfordmedium";
  src: url("../fonts/strawford-medium-webfont.eot");
  src: url("../fonts/strawford-medium-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/strawford-medium-webfont.woff2") format("woff2"), url("../fonts/strawford-medium-webfont.woff") format("woff"), url("../fonts/strawford-medium-webfont.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "strawfordregular";
  src: url("../fonts/strawford-regular-webfont.eot");
  src: url("../fonts/strawford-regular-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/strawford-regular-webfont.woff2") format("woff2"), url("../fonts/strawford-regular-webfont.woff") format("woff"), url("../fonts/strawford-regular-webfont.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "strawfordthin";
  src: url("../fonts/strawford-thin-webfont.eot");
  src: url("../fonts/strawford-thin-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/strawford-thin-webfont.woff2") format("woff2"), url("../fonts/strawford-thin-webfont.woff") format("woff"), url("../fonts/strawford-thin-webfont.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "strawfordlight";
  src: url("../fonts/strawford-light-webfont.eot");
  src: url("../fonts/strawford-light-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/strawford-light-webfont.woff2") format("woff2"), url("../fonts/strawford-light-webfont.woff") format("woff"), url("../fonts/strawford-light-webfont.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "strawfordextralight";
  src: url("../fonts/strawford-extralight-webfont.eot");
  src: url("../fonts/strawford-extralight-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/strawford-extralight-webfont.woff2") format("woff2"), url("../fonts/strawford-extralight-webfont.woff") format("woff"), url("../fonts/strawford-extralight-webfont.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "NotoSans";
  src: url("../fonts/NotoSansTC-Regular.woff2");
  src: url("../fonts/NotoSansTC-Regular.otf");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "NotoSansBlack";
  src: url("../fonts/NotoSansTC-Black.woff2");
  src: url("../fonts/NotoSansTC-Black.otf");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "NotoSansBold";
  src: url("../fonts/NotoSansTC-Bold.woff2");
  src: url("../fonts/NotoSansTC-Bold.otf");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "NotoSansMedium";
  src: url("../fonts/NotoSansTC-Medium.woff2");
  src: url("../fonts/NotoSansTC-Medium.otf");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "NotoSansLight";
  src: url("../fonts/NotoSansTC-Light.woff2");
  src: url("../fonts/NotoSansTC-Light.otf");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "NotoSansThin";
  src: url("../fonts/NotoSansTC-Thin.woff2");
  src: url("../fonts/NotoSansTC-Thin.otf");
  font-weight: normal;
  font-style: normal;
}
html {
  font-size: initial;
}

body {
  color: white;
  background-color: #1e1f26;
  font-family: "strawfordregular", "Inter", sans-serif;
  margin: 0;
  text-align: center;
  line-height: 1.618;
}

img {
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
}

a {
  color: #ffffff;
  text-decoration: none;
}

/* highlight color */
::-moz-selection {
  background-color: rgba(255, 255, 255, 0.3843137255);
}
::selection {
  background-color: rgba(255, 255, 255, 0.3843137255);
}

.panel {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

#intro {
  justify-content: center;
  align-items: center;
}

.intro-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
@media screen and (max-width: 480px) {
  .intro-wrapper {
    margin-top: -130px;
  }
}

#renovating {
  font-size: 32px;
}
@media screen and (max-width: 480px) {
  #renovating {
    font-size: 25px;
    margin-right: 0px;
  }
}

#smiley {
  display: inline-block;
  padding-left: 10px;
  position: relative;
  top: 5px;
}

.construction-gif {
  display: block;
  height: 250px;
  width: 250px;
  padding: 0;
  margin: 20px;
}
@media screen and (max-width: 480px) {
  .construction-gif {
    height: 200px;
    width: 200px;
  }
}

#brick-counter {
  font-size: 20px;
}

.contact-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  margin: 20px;
}

.links-list {
  list-style-type: none;
  padding-left: 0;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
}
.links-list li {
  display: inline-block;
  margin: 11px;
  transition: transform 0.4s ease;
}
.links-list li:hover, .links-list li:focus, .links-list li:active {
  transform: scale(1.12);
}

.email-link img {
  height: 20px;
  margin-bottom: 3.2px;
}

.linkedin-link img {
  height: 25px;
}

.github-link img {
  height: 28px;
}

.youtube-link img {
  height: 35px;
  margin-bottom: -4.8px;
}

.footer-text {
  font-family: "strawfordmedium";
  font-size: 13px;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
}/*# sourceMappingURL=styles.css.map */