@use '_globals';

.id-skills {
    background-color: globals.$off-black;
}

.skills-wrapper {
    display: flex;

    @media screen and (max-width: globals.$mobile-width) {
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
}

.skills-intro-wrapper {
    display: flex;
    flex-direction: column;
    margin-right: 40px;

    @media screen and (max-width: globals.$mobile-width) {
        margin-right: 45px;
        margin-bottom: 40px;
    }

    //skills heading
    h2 {
        margin-top: 0px;
        margin-bottom: 0px;
        text-align: left;
    } 
}

.skills-intro {
    font-size: 16px;
    // line-height: 11%;
    text-align: left;
    width: 230px;
}

.skills-intro::before {
    content: "";
    display: block;
    background-color: globals.$brighter-teal;
    width: 50%;
    height: 5px;
    border-radius: 13px;
    margin: 15px 0px;
}

.skills-list-wrapper {
    display: flex;
    flex-direction: row;
}

.skills-list {
    font-family: 'strawfordmedium';
    color: globals.$brighter-teal;
    font-size: 19px;
    list-style-type: none;
    text-align: left;
    margin-right: 40px;
    width: fit-content;
}

/**************************/
/* Old Skills section that I changed */

// individual skill badges
// .badge {
//     border-radius: 2.5rem;
//     border-width: 0.25rem;
//     border-style: solid;
//     font-family: 'Roboto', sans-serif;
//     font-weight: 700;
//     width: fit-content;
//     margin-bottom: 0.5rem;  // line spacing between items

//     // logo inside the badge
//     img {
//         display: inline;
//         vertical-align: middle;
//     }

//     // name next to the logo
//     span {
//         font-size: 1.2rem;
//         margin-right: 1.1rem;
//         line-height: 3.5rem;
//         vertical-align: middle;
//     }
// }